// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
$theme-color:  rgb(250, 125, 187);
$deputy-color: #f8f5f5;
$global-font-size: 14px !default;
